<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="styles.css" />
    </head>
    <body>
        <h1>{{ title }}</h1>
        <canvas id="wordcloud" width="2048" height="1536"></canvas>
        <script src="wordcloud2.js"></script>
        <script>
            var list = [
                {% for item in words %}
                [ '{{ item[0] }}', {{ item[1] }} ],
                {% endfor %}
            ];
            WordCloud(document.getElementById('wordcloud'), { 
                list: list,
                fontFamily: 'Arial',
                fontWeight: 'bold',
                gridSize: 20,
                minRotation: 0,
                maxRotation: 0,
                shape: 'circle',
                color: '#000',
                minSize: 11
            });
        </script>
    </body>
</html>